.App {
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
        width: 100%;
        margin: 0;
    }

    .AppHeader {
        font-size: 4rem;
        margin: auto;
        padding: 1rem;
    }

    .PlayerContainer {
        display: flex;
        flex-direction: row;
        margin: 1rem;
        .Player {
            padding: 1rem;
            font-weight: bold;
            font-size: 2rem;
        }
    }

    .StartButton {
        font-size: 1.5rem;
        margin: 2rem;
        cursor: pointer;
        background: #20968b;
        padding: 0.7rem 2rem;
        border: none;
        border-radius: 0.5rem;
        color: white;
    }

    .StartButton:disabled {
        background: #76bfb7;
        cursor: not-allowed;
    }

    .GameCell {
        width: 8rem;
        height: 8rem;
        font-size: 4rem;
        cursor: pointer;
        background: #ececec;
        border: none;
        border-radius: 0.5rem;
    }

    .GameStatus {
        margin: 2rem;
        font-size: 2.5rem;
        font-weight: bold;
        color: #158e84;
    }
}

@media (max-width: 600px) {
    .App {
        .AppHeader {
            font-size: 2rem;
            margin: auto;
            padding: 1rem;
        }
        .PlayerContainer {
            display: flex;
            flex-direction: row;
            margin: 1rem;
            .Player {
                padding: 1rem;
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
        .GameCell {
            width: 6rem;
            height: 6rem;
            font-size: 3rem;
        }

        .GameStatus {
            margin: 2rem;
            font-size: 1.5rem;
            font-weight: bold;
            color: #158e84;
        }
    }
}
